<!--Main Navigation-->
<header id="about" class="intro-header">
  <!--Intro Section-->
  <section class="view intro-2 rgba-gradient">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row flex-center pt-5 mt-3">
          <div class="col-md-6 text-center text-md-left margins">
            <div class="white-text">
              <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">
                About Me
              </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" />
              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                repellendus quasi fuga nesciunt dolorum nulla magnam veniam
                sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                iste.
              </h6>
              <br />
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInLeft"
                data-wow-delay="0.3s"
                >Learn more</a
              >
              <a
                mdbBtn
                color="white"
                outline="true"
                class="wow fadeInLeft"
                data-wow-delay="0.3s"
                >Download
                <i class="fab fa-android left right" aria-hidden="true"></i>
                <i class="fab faapple left" aria-hidden="true"></i>
                <i class="fab fawindows" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <div
            class="col-md-6 wow fadeInRight d-flex justify-content-center"
            data-wow-delay="0.3s"
          >
            <!-- <img
              src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png"
              alt=""
              class="img-responsive"
            /> -->
            <!-- <img
              src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-0/c0.28.206.206a/p206x206/92670978_10222121824096001_8987262025142894592_o.jpg?_nc_cat=107&_nc_sid=da31f3&_nc_ohc=HpQGZj53gqcAX_x6q5I&_nc_ht=scontent.ftlv6-1.fna&oh=a516cfaf185966f695fe074f9b873738&oe=5EB7CEEE"
              alt=""
              class="img-responsive"
              width="100%"
              height="100%"
            /> -->
            <img
              src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-9/s720x720/92498665_10222121856136802_2541780483499360256_o.jpg?_nc_cat=107&_nc_sid=730e14&_nc_ohc=5Lc_5xTKFkIAX-YNZLm&_nc_ht=scontent.ftlv6-1.fna&_nc_tp=7&oh=79128356a3ce94edd5f81e83aa01d96c&oe=5EB4A9BD"
              alt=""
              class="img-responsive"
              width="100%"
              height="100%"
            />


          </div>
          <span style="color:white">
            HEY, so here I'm - &emsp;
          </span>
          <img
              src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.0-9/92318440_10222122428431109_7263027054608646144_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=C7UGuEQ5mHIAX_572f-&_nc_ht=scontent.ftlv6-1.fna&oh=aaabe2ace13f6af900d2373e943c2638&oe=5EB43B38"
              alt=""
              class="img-responsive"
              width="8%"
              height="8%"
              style="border-radius: 70%"
            />

          <span style="color:white">
            Ariel Halevi
           </span>


        </div>
      </div>
    </div>
  </section>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>
  <div class="container">
    <!--Grid row-->
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-12 text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main Layout-->
