<div class="backgroundContact" style="background-image: url(https://4.bp.blogspot.com/-zO8hwvt7iMk/XAVxt4aoQvI/AAAAAAAAwa4/D5m3ApKkAAABZteHWWv_5uzTn8X7JaDxgCPcBGAYYCw/s1600/7T9364v.gif)">
<p id="contact"></p>

<!--Main Navigation-->
<header>
    <section>
      <div id="map-container-demo-section" class="z-depth-1-half map-container-section mb-4" style="height: 450px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6758.489012636649!2d35.04197172577336!3d32.1166984247054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d254e5a740fff%3A0xd72638608b370bba!2sEts%20Efraim!5e0!3m2!1sen!2sil!4v1586992786605!5m2!1sen!2sil"
          width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </section>

  </header>
<!--Main Navigation-->







  <!--Main Layout-->
  <main>

    <div class="container-fluid mb-5">



      <!--Grid row-->
      <div class="row" style="margin-top: -155px;">

        <!--Grid column-->
        <div class="col-md-12">

          <div class="card pb-5">
            <div class="card-body">

              <div class="container">

                <!--Section: Contact v.2-->
                <section class="section">

                  <!--Section heading-->
                  <h2 class="font-weight-bold grey-text text-center h1 my-5">Contact us</h2>
                  <!--Section description-->
                  <p class="text-center grey-text mb-5 mx-auto w-responsive">I'd love your feedback!</p>


                  <div class="row pt-5">

                    <!--Grid column-->
                    <div class="col-md-8 col-xl-9">
                      <form>

                        <!--Grid row-->
                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-name" class="form-control" placeholder="Your name">
                              <label for="contact-name" class=""></label>
                            </div>
                          </div>
                          <!--Grid column-->

                          <!--Grid column-->
                          <div class="col-md-6">
                            <div class="md-form">
                              <input type="text" id="contact-email" class="form-control" placeholder="Your email">
                              <label for="contact-email" class=""></label>
                            </div>
                          </div>
                          <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="md-form">
                              <input type="text" id="contact-Subject" class="form-control" placeholder="Subject">
                              <label for="contact-Subject" class=""></label>
                            </div>
                          </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-12">

                            <div class="md-form">
                              <textarea type="text" id="contact-message" class="md-textarea form-control" rows="3" placeholder="Your message"></textarea>
                              <label for="contact-message"></label>
                            </div>

                          </div>
                        </div>
                        <!--Grid row-->

                      </form>

                      <div class="text-center text-md-left my-4">
                        <a class="btn peach-gradient">Send</a>
                      </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 col-xl-3">
                      <ul class="contact-icons text-center list-unstyled">
                        <li>
                          <i class="fas fa-map-marker fa-2x orange-text"></i>
                          <p class="orange-text">{{myLocation}}</p>
                        </li>

                        <li>
                          <i class="fas fa-phone fa-2x orange-text"></i>
                          <p class="orange-text">{{myPhone}}</p>
                        </li>

                        <li>
                          <i class="fas fa-envelope fa-2x orange-text"></i>
                          <p class="orange-text">{{myMail}}</p>
                        </li>
                      </ul>
                    </div>
                    <!--Grid column-->

                  </div>

                </section>
                <!--Section: Contact v.2-->

              </div>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>

    </div>

  </main>
  <!--Main Layout-->

  <!--Footer-->
  <footer class="page-footer pt-4 mt-4   grey lighten-3 text-center text-md-left">

    <!--Copyright-->
    <div class="footer-copyright text-center py-3 wow fadeIn black" data-wow-delay="0.3s">
      <div class="container-fluid">
        &copy; 2020 Copyright:
        <a href="https://arriel12.github.io/PortfolioNg/"> arriel12.github.io/PortfolioNg </a>
        <strong> |  Ariel Halevi  |  Arriel12@Gmail.com  </strong>
      </div>
    </div>
    <!--/Copyright-->

  </footer>
  <!--/Footer-->




</div>
