<!--Main Navigation-->
<header id="home" class="intro-header">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar black">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#">
        <strong>{{logoName}} </strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#home">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#portfolio">PORTFOLIO</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#about">MY C.V</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#contact">CONTACT</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </links>
  </mdb-navbar>

  <!--Intro Section-->
  <section class="view intro-video">
    <video class="h-100" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline
      autoplay muted loop>
      <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
    </video>
    <div class="mask rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3">
            <!-- <div class="col-lg-6 wow fadeIn mb-5 text-center text-lg-left">-->
              <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.9s">
                  Welcome To My Portfolio Website<span><img src="https://thumbs.gfycat.com/FarawayJampackedAmericancrow-small.gif" height="38px" width="38px"></span>
                  </h2>
                  <h4 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.9s">
                      I'm <span class="h1 font-bold wow" style="color:blue; font-weight: 900;">Ariel Halevi</span>, a Full-Stack Web Developer!
                   </h4>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <p class="wow fadeInLeft" data-wow-delay="0.3s">
                  I have the ability to learn quickly and independently, very motivated,
                   strong desire to learn and develop.<br>
                  Good interpersonal communication.
                  Personal maturity and proven responsibility for completing tasks.<br>
                  Excellent human relations and independent work ability and staff,
                  increasing head in the area of personal responsibility.<br>
                  Have a valid Level 2 security classification.</p>
                <br>
                <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect href="#about">About Me :)</a>
                <a mdbBtn color="blue" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s"
                  mdbWavesEffect href="#portfolio">View My Portfolio!</a>
              </div>
              <!-- </div>-->

           <!--  <div class="col-lg-6 wow fadeIn">
              <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IQyauRAxvjI"
                  allowfullscreen></iframe>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->
